include base.pug
script(src="https://maps.googleapis.com/maps/api/js?callback=myMap")
script(src="http://maps.google.com/maps/api/js?sensor=false")
script(src="/js/jq_map.js")
div.container
  div.well
    if (projects.length == 0)
      h1.row.text-center='There is no new job yet.'
    if (projects.length == 1)
      h1.row.text-center='There is ' + projects.length + ' job.'
    else
      h1.row.text-center='There are ' + projects.length + ' jobs.'
  hr
  div.col-lg-9
    if (projects.length == 0)
      h1.text-center There is no job yet.
    else
      each project in projects
       div.panel.panel-success.panel-job(id=project.jobID)
         div.panel-body(style="padding:1%;position:relative")
            div.col-lg-1.text-center(style="padding:0")
              if (session && session.usertype == "homeowner" && project.hoID == session.user.id )
                div.bg-success You created this job.
              else
                span.h3.text-success
                  i.fa.fa-home
                  i.fa.fa-wrench
            div.col-lg-10(style="overflow-y:auto;")
               div.col-lg-12
                  label.col-lg-2 CreatedAt:
                  div.col-lg-10=project.createdAt.toString().substring(0,25)
               div.jobInfo
                 div.col-lg-12.hidden
                    label.col-lg-2 JobID
                    input(name="jobID",value=project.jobID)
                 div.col-lg-12
                    label.col-lg-2  Description:
                    div.col-lg-10.jobDesc=project.jobDesc
               div.col-lg-12
                  label.col-lg-2 Location:
                  - var cityAddr = project.city + " " + project.state + " " + project.zipcode;
                  div.col-lg-10
                    if (!session)
                      a(role="tooltip",title="Login to View location in map",data-placement="right")=cityAddr
                    else
                      a.btnShowMap(id="link_"+ project.jobID, role="tooltip",title="View location in map",data-placement="right")=cityAddr
               div.col-lg-12
                 if (session)
                  input.hidden.address(id="addr_"+ project.jobID,value=project.street + " " + cityAddr)
                  p.error.col-lg-12.text-danger.hidden Can't find the location 
                    i.fa.fa-exclamation-triangle
                  button.btnHideMap.btn.btn-sm.hidden.pull-right X
                  div.col-lg-12.map.text-center.hidden(id="map_" + project.jobID,style="height:200px;width:90%")
                  div.col-lg-12
                    label.col-lg-12.text-center
                        a.btnJobDetail.text-center More Detail
                    div.col-lg-12.pictures.collapse
                      each i in [0,1,2,3,4,5,6,7,8]
                        div.col-lg-4.panel.panel-success.text-center(style="height:10vw") Will load Picture Or Video Here
            div.col-lg-1
              if (session && session.usertype == "contractor")
                if (bidJobID.indexOf(project.jobID) != -1)
                  button.btnBid.btn.btn-warning.disabled(style="white-space:normal;padding:0") 
                    i.fa.fa-ban  You bid this job.
                else
                  button.btnBid.btn.btn-warning.btn-block(role="tooltip",title="Bid",data-toggle="modal",data-target="#modal_bid")
                   i.fa.fa-gavel
                  button.btn.btn-info.btn-block(role="tooltip",title="Bookmark",style="margin-top:10%;")
                    i.fa.fa-bookmark 


  div.col-lg-3.well(style="")
    include searchbox.pug
include ./contractor/modal_bid.pug