include base.pug
div.container
if (projects.length == 0)
  h1.text-center There is no job yet.
else
  each project in projects
   div.panel.panel-success.panel-job(id=project.jobID)
     div.panel-body(style="padding:1%;position:relative")
        div.col-lg-1.text-success(style="font-size:2vw")
          i.fa.fa-home
          i.fa.fa-wrench
        div.col-lg-10(style="overflow-y:auto;")
         div.col-lg-12
            label.col-lg-2 CreatedAt:
            div.col-lg-10=project.createdAt.toString().substring(0,25)
         div.jobInfo
           div.col-lg-12.hidden
              label.col-lg-2 JobID
              input(name="jobID",value=project.jobID)
           div.col-lg-12
              label.col-lg-2  Description:
              div.col-lg-10.jobDesc=project.jobDesc
           div.col-lg-12
              label.col-lg-2 Location:
              - var cityAddr = project.city + " " + project.state + " " + project.zipcode;
              div.col-lg-10
                a(role="tooltip",title="Login to view location in map",data-placement="right")=cityAddr