nav.navbar.navbar-default.navbar-fixed-top#navbar
   div.container-fluid
     div.navbar-header.col-sm-3.col-md-2
        a.navbar-brand(href="/") BuildMe
     ul.nav.navbar-nav
        li
           a(href="/howitworks") How it Works
        li
           a(href="/jobs") Jobs
        li
           a(href="/searchajob") Search A Job
     if !session
      ul.nav.navbar-nav.navbar-right
          li
            a
              span #{Fname} #{Lname}
          li#btnLogin
            a.btn(href="/login")
              span.glyphicon.glyphicon-log-in  Login
          li.dropdown
            a.btn.dropbtn
              span.glyphicon.glyphicon-user  Sign up
            div.dropdown-content.bg-success(style="width:15vw")
              a.btn.btn-primary.btn-block(href="/homeowner-signup")
                span.glyphicon.glyphicon-home
                span.glyphicon.glyphicon-user  Homeowner
              a.btn.btn-primary.btn-block(href="/contractor-signup") 
                span.glyphicon.glyphicon-wrench
                span.glyphicon.glyphicon-user  Contractor
     else
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.btn.dropbtn
           span.glyphicon.glyphicon-user 
            if session.name
              span=session.name
            else
              span=session.firstName + "  "
              span=session.lastName
          div.dropdown-content.bg-success(style="width:15vw")
            if session.name
              a.btn.btn-primary.btn-block(href="/contractor/dashboard") Dashboard
            else
              a.btn.btn-primary.btn-block(href="/homeowner/dashboard") Dashboard
            a.btn.btn-primary.btn-block(href="/logout") Logout





