include /base.pug
include source.pug
div.container(style="padding-top:1%")
 each bid in bids
   div.panel.panel-warning.col-lg-12(id=bids.id)
    div.panel.body.bidInfo 
     div.row.hidden
      label.col-lg-4.control-label Bid ID
      div.col-lg-8
       input(name="bidID",value=bid.id)
     div.row
      label.col-lg-4.control-label Estimate Cost
      div.col-lg-8='$ ' + bid.estCost
     div.row
      label.col-lg-4.control-label Estimate Days
      div.col-lg-8
        if (bid.estDays)
          p=bid.estDays + ' Days'
     div.row
      label.col-lg-4.control-label Estimate Hours
      div.col-lg-8
        if (bid.estDays)
         p=bid.estDays + ' Hours'
     div.row
      label.col-lg-4.control-label Avaible Start From
      div.col-lg-8=bid.startDate.toString().substr(0,15)
     div.row
      label.col-lg-4.control-label Comment
      div.col-lg-8=bid.comment
     div.row
      label.col-lg-4.control-label Created At
      div.col-lg-8=bid.createdAt
     div.row
      label.col-lg-4.control-label Updated At
      div.col-lg-8=bid.updatedAt
