extends dashboard.pug
block right
  include modal_delete_job.pug
  div#biddingjobs
    if (jobs.length == 0)
      h2.well You have no open job yet.
    else
      each job in jobs
        div.panel.panel-default(id=job.id)
          div.panel-heading(style="padding:0")
           if (job.numBids > 0)
             a.btn-warning.btn-sm.btn.col-lg-1(onClick='window.open("/homeowner/bids/'+ job.id +'");')=job.numBids
               i.fa.fa-gavel.pull-left
           else
             a.btn-warning.btn-sm.btn.col-lg-1.disabled=job.numBids
               i.fa.fa-gavel.pull-left
           div.dropdown.pull-right
            a.btn.dropbtn
             span.caret
            div.dropdown-content
             button.btnUpdate.btn.btn-sm.btn-success.btn-block Update
             button.btnDeleteJob.btn.btn-sm.btn-danger.btn-block(data-toggle="modal",data-target="#modal_delete_job") Delete
          div.panel-body.jobInfo
           div.row.hidden
            input(name="jobID",value=job.id)
           div.row
            label.col-lg-2.control-label Descrption
            div.col-lg-10=job.jobDesc
           div.row
            label.col-lg-2.control-label Address
            div.col-lg-10=job.street + "  " + job.city + " " + job.state + " " + job.zipcode
           div.row
            label.col-lg-2.control-label Created At
            div.col-lg-10=job.createdAt
           div.row
            label.col-lg-2.control-label Updated At
            div.col-lg-10=job.updatedAt
