extends dashboard.pug
block title
  title="Offering " + offers.length+ " jobs"
block right 
 div
  if (offers.length == 0)
   h1.text-center You have no job offering yet.
  else
   each offer in offers
      div.panel.panel-default.panel-offer(id=offer.id)
        div.panel-heading(style="padding:0")
         div.dropdown.pull-right
          a.btn.dropbtn
           span.caret
          div.dropdown-content
           button.btnUpdate.btn.btn-sm.btn-success.btn-block Update
           button.btnDeleteJob.btn.btn-sm.btn-danger.btn-block(data-toggle="modal",data-target="#modal_delete_offer") Delete
        div.panel-body
         div.row
          label.col-lg-2.control-label Description
          div.col-lg-10=offer.jobDesc
         div.row
          label.col-lg-2.control-label Location
          div.col-lg-10=offer.street + " "+ offer.city +" "+ offer.state + " "+ offer.zipcode
         div.row
          label.col-lg-2.control-label Contractor
          div.col-lg-10=offer.firstName + " " + offer.lastName
         div.row
          label.col-lg-2.control-label Company
          div.col-lg-10=offer.companyName
         div.row
          label.col-lg-2.control-label License
          div.col-lg-10=offer.licenseNumber
         div.row
          label.col-lg-2.control-label Phone
          div.col-lg-10=offer.phoneNumber
         div.row
          label.col-lg-2.control-label Est. Cost
          div.col-lg-10="$ " + offer.estCost
         div.row
          label.col-lg-2.control-label Final Cost
          div.col-lg-10="$ " + offer.finalCost
         div.row
          if (offer.estDays)
            label.col-lg-2.control-label Est. Days
            div.col-lg-10=offer.estDays + " days"
         div.row
          if (offer.estDays)
            label.col-lg-2.control-label startDate
            div.col-lg-10=offer.startDate
         div.row
          label.col-lg-2.control-label Comment
          div.col-lg-10=offer.comment