extends dashboard.pug
block title
  title=user.firstName + "'s Profile"
block right 
  div
    form.form-horizontal.well(action="/homeowner/profile",method="post")
     fieldset
      legend
      div.form-group
        label.col-lg-2.control-label(for="avatar") Avatar
        div.col-lg-10
         div.avatar.btn.btn-default=user.firstName[0] + user.lastName[0]
         input.form-control.hidden(type="file",name="avatar")
      div.form-group.required
        label.col-lg-2.control-label(for="Fname") First Name
        div.col-lg-10
         div.list-group-item=user.firstName
         input.form-control.hidden(name="Fname",value=user.firstName)
      div.form-group.required
        label.col-lg-2.control-label(for="Lname") Last Name
        div.col-lg-10
         div.list-group-item=user.lastName
         input.form-control.hidden(name="Lname",value=user.lastName)
      div.form-group.required
        label.col-lg-2.control-label(for="email") Email
        div.col-lg-10
         div.list-group-item=user.email
         input.form-control.hidden(name="email",value=user.email)
      div.form-group.required
        label.col-lg-2.control-label(for="zip") Zipcode
        div.col-lg-10
         div.list-group-item=user.zipcode
         input.form-control.numeric.hidden(name="zip",value=user.zipcode)
      div.form-group
        div.col-lg-10.col-lg-offset-2
          div#btnEditProfile.btn.btn-primary.col-lg-3 Edit
          div#btnCancel.btn.btn-default.col-lg-3.hidden Cancel
          button.btn.btn-primary.col-lg-3.hidden Submit
    form.form-horizontal.col-lg-11()
     fieldset
      div.form-group
        div.col-lg-10.col-lg-offset-2
          div.btn.btn-warning.col-lg-3#btnPass Change Password
      div#formPass.row.hidden
        div.form-group
          label.col-lg-2.control-label Old Password
          div.col-lg-10
            input.form-control(type="Password",name="old_pass")
        div.form-group
          label.col-lg-2.control-label New Password
          div.col-lg-10
            input.form-control(type="Password",name="new_pass")
        div.form-group
          label.col-lg-2.control-label Type Again
          div.col-lg-10
            input.form-control(type="Password",name="new_pass_2")
        div.form-group
        div.col-lg-10.col-lg-offset-2
          div#btnCancelPass.btn.btn-default.col-lg-3 Cancel
          button.btn.btn-primary.col-lg-3 Submit