ul.nav.nav-sidebar.list-group.table-of-contents#sidebar
  li.list-group-item
    a.btn(href="/homeowner/newjob") Create a New Job
     i.fa.fa-plus-square-o 
  li.list-group-item
    a.btn(href="/homeowner/bidding") Jobs Bidding
     i.fa.fa-suitcase
     span.badge=user.numCreated
  li.list-group-item
    a.btn(href="/homeowner/offering") Jobs Offering
     img(src="/img/offer.png", style="float:left;width:25px;height:25px;",)
     span.badge=user.numOffers
  li.list-group-item
    a.btn(href="/homeowner/started") Jobs Started
     i.fa.fa-tasks 
     span.badge=user.numStarted
  li.list-group-item
    a.btn(href="/homeowner/completed") Jobs Completed
     i.fa.fa-check-circle
     span.badge=user.numFinished
  li.list-group-item
    a.btn(href="/homeowner/overview") Overview
     i.fa.fa-bar-chart 
  li.list-group-item
    a.btn(href="/homeowner/message") Message 
     i.fa.fa-envelope 
     span.badge=user.newMessage
  li.list-group-item
    a.btn(href="/homeowner/points") Points
     i.fa.fa-star
     span.badge=user.points 
  li.list-group-item
    a.btn(href="/homeowner/profile") Profile
     i.fa.fa-address-card-o