extends dashboard.pug
block title
  title=bids.length + " bids"
block right
  div
   if (bids.length == 0)
     h1.text-center You have no bids on jobs.
   else
     - var width = bids.length * 550;
     div.col-lg-12(style="width:"+ width+"px;overflow-x:auto;min-width:100%;min-height:80%;")
       each bid in bids
         div.panel.panel-warning.bidInfo.col-lg-12(id="bidID_"+bid.bidID,style="padding:0;")
            div.panel-heading(style="padding:1%") 
              if (bids.bidID)
                span This job bidding is closed.
              else
                span This job is still Open
              //- //- button.btn-danger.btn.btn-sm(data-toggle="modal",data-target="#modal_withdraw") X
              div.dropdown.pull-right 
                a.btn.dropbtn
                 span.caret
                div.dropdown-content
                 if (!bids.bidID)
                   button.btnUpdate.btn.btn-sm.btn-primary.btn-block Edit
                 button.btnDeleteBid.btn.btn-sm.btn-danger.btn-block(data-toggle="modal",data-target="#modal_delete_bid") X
            div.panel-body.row(style="padding:2%;")
               //- div.col-lg-1.avatar.btn.btn-default=bid.jobID
               div.col-lg-12.bidInfo
                 div.row.hidden
                  label.col-lg-4.control-label Bid ID
                  div.col-lg-8
                   input(name="bidID",value=bid.id)
                 //- div.row
                 //-  label.col-lg-4.control-label Job Created By
                 //-  div.col-lg-8.avatar.btn.btn-default=bid.firstName[0] + bid.lastName[0]
                 div.col-lg-12.panel.panel-success.panel-job.well
                  div.panel-body
                   div.col-lg-12
                    label.col-lg-4.control-label Description
                    div.col-lg-8=bid.jobDesc
                   div.col-lg-12
                    label.col-lg-4.control-label Location
                    input.hidden(id="addr_" + bid.jobID,value=bid.street+ " " + bid.city + "  " + bid.state + "  " + bid.zipcode)
                    div.col-lg-8=bid.city + "  " + bid.state + "  " + bid.zipcode
                      //- a.btnShowMap(id="link_" + bid.jobID)=bid.city + "  " + bid.state + "  " + bid.zipcode
                    div.col-lg-8.error.col-lg-10.text-danger.hidden Can't find the location. 
                     i.fa.fa-exclamation-triangle 
                    div.hidden.col-lg-8(id="map_" + bid.jobID, style="width:100%;height:200px")
                  div.panel-footer.time="Created At : " + bid.jobCreatedAt.toString().substr(0,24)
                 hr
                 div.col-lg-12
                  label.col-lg-4.control-label Estimate Cost
                  div.col-lg-8='$ ' + bid.estCost
                 if (bid.estDays)
                   div.col-lg-12
                    label.col-lg-4.control-label Estimate Days
                    div.col-lg-8=bid.estDays + ' Days'
                 if (bid.estHours)
                   div.col-lg-12
                    label.col-lg-4.control-label Estimate Hours
                    div.col-lg-8bid.estHours + ' Hours'
                 div.col-lg-12
                  label.col-lg-4.control-label Avaible Start Date
                  div.col-lg-8=bid.startDate.toString().substr(0,15)
                 div.col-lg-12
                  label.col-lg-4.control-label Comment
                  div.col-lg-8=bid.comment
                 div.col-lg-12
                  label.col-lg-4.control-label Proposal
                  div.col-lg-8
                    a Proposal(PDF)
            div.panel-footer.time="Create At : " + bid.bidUpdatedAt.toString().substr(0,24)
  include modal_delete_bid.pug