extends dashboard.pug
block title
  title=offers.length + " job offers"
block right
 div
  if (offers.length == 0)
   h1.text-center You have no new job offered yet.
  else
   each offer in offers
      div.panel.panel-default.panel-offer
        div.panel-heading(style="padding:0")
         div.dropdown.pull-right
          a.btn.dropbtn
           span.caret
          div.dropdown-content
           button.btnUpdate.btn.btn-sm.btn-success.btn-block Update
           button.btnDeleteJob.btn.btn-sm.btn-danger.btn-block(data-toggle="modal",data-target="#modal_delete_offer") Delete
        div.panel-body
         div.jobInfo
           input.hidden(name="offerID",value=offer.offerID)
           div.row
            label.col-lg-3.control-label Description
            div.col-lg-9=offer.jobDesc
           div.row
            label.col-lg-3.control-label Location
            div.col-lg-9=offer.city + " " + offer.state + " " + offer.state + " " + offer.zipcode
           div.row
            label.col-lg-3.control-label Final Cost
            div.col-lg-9="$ " + offer.finalCost
         div.row
          label.col-lg-3.control-label Est.Cost
          div.col-lg-9="$ " + offer.estCost
         div.row
          if ( offer.estDays)
            label.col-lg-3.control-label Est. Days
            div.col-lg-9=offer.estDays + " days"
         div.row
          if (offer.startDate)
           label.col-lg-3.control-label Start Date
           div.col-lg-9=offer.startDate
         div.row
          if ( offer.comment)
           label.col-lg-3.control-label Note
           div.col-lg-9=offer.comment
        div.panel-footer.text-center(style="height:10vh")
         button.btnAccept.btn.btn-success.btn-sm(role="tooltip",title="Accept the job",data-toggle="modal",data-target="#modal_accept")  Accept
          i.fa.fa-check-circle-o.pull-left
         button.btnRejec6.btn.btn-danger.btn-sm(role="tooltip",title="Reject the job",data-toggle="modal",data-target="#modal" ) Reject
              i.fa.fa-times-circle-o.pull-left 
 include modal_accept.pug