include dashboard.pug
div.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2
  form.form-horizontal.col-lg-11(action="/contractor/profile",method="post")
   fieldset
    legend 
    div.form-group
      label.col-lg-2.control-label(for="avatar") Avatar
      div.col-lg-10
       div.avatar.btn.btn-default=session.user.firstName[0] + session.user.lastName[0]
       input.form-control.hidden(type="file",name="avatar")
    div.form-group.required
      lable.col-lg-2.control-label(for="Fname") First Name
      div.col-lg-10
       div.list-group-item=session.user.firstName
       input.form-control.hidden(name="Fname",value=session.user.firstName)
    div.form-group.required
      lable.col-lg-2.control-label(for="Lname") Last Name
      div.col-lg-10
       div.list-group-item=session.user.lastName
       input.form-control.hidden(name="Lname",value=session.user.lastName)
    div.form-group.required
      lable.col-lg-2.control-label(for="email") Company Name
      div.col-lg-10
       div.list-group-item=session.user.companyName
       input.form-control.hidden(name="companyName",value=session.user.companyName)
    div.form-group.required
      lable.col-lg-2.control-label(for="phoneNumber") Phone Number
      div.col-lg-10
       div.list-group-item=session.user.phoneNumber
       input.form-control.hidden.numeric(name="phoneNumber",value=session.user.phoneNumber)
    div.form-group.required
      lable.col-lg-2.control-label.numeric(for="licenseNumber") License Number
      div.col-lg-10
       div.list-group-item=session.user.licenseNumber
       input.form-control.hidden.numeric(name="licenseNumber",value=session.user.licenseNumber)
    div.form-group.required
      lable.col-lg-2.control-label(for="email") Email
      div.col-lg-10
       div.list-group-item=session.user.email
       input.form-control.numeric.hidden(name="email",value=session.user.email)
    div.form-group
      div.col-lg-10.col-lg-offset-2
        div#btnEditProfile.btn.btn-primary.col-lg-3 Edit
        div#btnCancel.btn.btn-default.col-lg-3.hidden Cancel
        button.btn.btn-primary.col-lg-3.hidden Submit
  form.form-horizontal.col-lg-11()
   fieldset
    div.form-group
      div.col-lg-10.col-lg-offset-2
        div.btn.btn-warning.col-lg-3#btnPass Change Password
    div#formPass.row.hidden
      div.form-group
        lable.col-lg-2.control-label Old Password
        div.col-lg-10
          input.form-control(type="Password",name="old_pass")
      div.form-group
        lable.col-lg-2.control-label New Password
        div.col-lg-10
          input.form-control(type="Password",name="new_pass")
      div.form-group
        lable.col-lg-2.control-label Type Again
        div.col-lg-10
          input.form-control(type="Password",name="new_pass_2")
      div.form-group
      div.col-lg-10.col-lg-offset-2
        div#btnCancelPass.btn.btn-default.col-lg-3 Cancel
        button.btn.btn-primary.col-lg-3 Submit